@import '../../../../../variables.scss';

.trackerOrientationSVG {
    width: 100%;
    height: auto;
    background: $dark-blue;
}

.trackerOrientationText {
    fill: $green;
}

.trackerOrientationText path {
    transform: translateX(-30px);
}

.trackerOrientationLandscape {
    transform-origin: 50% 50%;
}

.trackerOrientationPhones {
    transform-origin: 50% 50%;
    transform: translateX(180px);
}