@import '../../../variables.scss';

%buttonBasic {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include font-b36;
    color: $green;
    border: $frame-3 solid $green;
    width: 100%;
    padding: $frame-36;
}

.DialogueButton {
    @extend %buttonBasic;
    background: $light-blue;

    &:hover {
        background: $dark-purple;
    }
}

.DialogueWarningButton {
    @extend %buttonBasic;
    background: $red;
}