@import '../../../variables.scss';

.postAjaxDailogue {
    @include by-parent;
    display: flex;
    flex-flow: column nowrap;

    .postAjaxDailogueHeading {
        margin: 0;
        padding: $frame-24;
        color: $green;
        @include font-m48;
    }

    .postAjaxDailogueHeadingFail {
        margin: 0;
        padding: $frame-24;
        color: $red;
        @include font-m48;
    }

    .postAjaxDailogueButtons {
        flex: 0 1 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        button {
            max-width: 45%;

            span {
                width: 100%;
                max-width: 100%;
            }
        }

        span {
            width: $frame-24;
            max-width: 10%;
        }
    }

    .loadingIndicator {
        @include by-parent;
        color: $green;
        @include font-r48;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}